
.done  {
 
  color: rgb(19, 16, 16);
  
}

.delete
{
  margin-left: 0.12cm;
}

.container 
{
  padding-inline-start: 0cqb;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.todo-box {
  border: 2px solid #ca1f1f;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #218ca2;
  
}

/* Other styles remain the same */


.delete {
  margin-left: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
 
